<html lang="en">
<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/nav.ejs') %>
            <div class="episodes content">
                <div style="display:block; align-items: center; margin-top: -20px;">
                    <h1 class=" neonText" style="--clr: var(--blue); --int:1s; bottom: 0px">ALL EPISODES</h1>
                    <!-- filter -->
                    <input class="desc" style="bottom: 20px;" type="text" id="myInput" onkeyup="myFunction()"
                        placeholder="SEARCH">
                </div>

                <ul id="myUL" style="list-style-type: none;"></ul>
                <% if (episodes.length> 0) {%>
                    <% episodes.forEach(episode=> {;%>
                        <li1 style="display:block; margin: 0;">
                            <a class="single" href="/episodes/<%=episode._id %> " style="border-radius: 25px;">
                                <div class="content">
                                    <h2 class=" epiTitle" style="border-radius: 25px; --clr: var(--purple); --int: 5s">
                                        <%=episode.title%>: <br>
                                            <%=episode.subtitle%>
                                    </h2>
                                    <h3 class="desc">
                                        <%= episode.description %>
                                    </h3>
                                </div>

                            </a>

                        </li1>
                        </ul>
                        <%})%>
                            <% } else { %>
                                <p class=" epiTitle">There are no episodes to display</p>
                                <% }%>

            </div>
            <%- include('../partials/footer.ejs') %>
    </body>

    <script>
        function myFunction() {
            var input = document.getElementById('myInput');
            input.onkeyup = function () {
                var filter = input.value.toUpperCase();
                var lis = document.getElementsByTagName('li1');
                console.log(lis)
                for (var i = 0; i < lis.length; i++) {
                    var content = lis[i].innerText;

                    if (content.toUpperCase().indexOf(filter) != -1)
                        lis[i].style.display = 'block';
                    else
                        lis[i].style.display = 'none';
                }
            }
        }
    </script>

</html>